@import "fontawesome/scss/font-awesome";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "login";

$cor-azul: #3fa0e8;

.fa-spinner {
  font-size: 5em;
  color: #337ab7;
  bottom: 50%;
  left: 50%;
  position: fixed;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

label {
  font-weight: normal;
  margin: 5px 0 !important;
}

.loading {
  font-size: 200%;
  display: table;
  margin: 25% auto 0;
}

.center {
  text-align: center;
}

.panel-heading {
  overflow: hidden;
}

.colony-chevron {
  position: absolute;
  right: 3%;
  top: 11px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -2px;
  color: $gray-light;
  i {
    font-size: 16px;
  }
}

.list-group-item {
  overflow: hidden;

  &.list-title {
    background-color: $gray-lighter;
  }
}

.item-title {
  font-weight: bold;
  text-align: center;
}

.item-name {
  font-weight: 200;
}

.item-quantity {
  text-align: right;
}

.btn-calculate {
  margin-top: 30px;
}

.save-colony-row {
  text-align: right;
  margin-bottom: 20px;
}

.calculate-colony-row {
  border-top: 1px solid $gray-lighter;
}

.eve-auth {
  .alert {
    overflow: hidden;
  }
}

.planetary-data {
  text-align: center;
  .planetary-name {
    font-weight: bold;
    font-size: 20px;
  }
  .planetary-quantity {
    font-weight: bold;
    font-size: 20px;
  }
}